    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Us</h2>
                <p>
                    The World Famous Green Tortoise Adventure Travel began over 40 years ago, with one sturdy bus and the realization that beautiful places, great food, and sociable people were the only essentials for gratifying travel experiences. The Green Tortoise hostels in San Francisco and Seattle are built on this fine tradition. The Green Tortoise San Francisco and Seattle hostels are created around a social communal experience. We have expanded and refined the hostel experience with free internet, free meals, private bathrooms, and comforts that make the green tortosie unique.
                </p>
                <p>
                    The Green Tortoise hostel is located across from the world famous Pike Place Market, (Pike's Place Market) in the true center of the City, on the corner of 1st and Pike Street.
                </p>
            </div>
        </div>
    </section>